<!DOCTYPE html>
<html>
  <head>
    <title>AKUTO</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("AKUTO", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("AKUTOとは", "/about") %>
        </li>
        <li>
          <%= link_to("投稿一覧", "/posts/index") %>
        </li>
        <li>
          <%= link_to("新規投稿", "/posts/new") %>
        </li>
        <li>
        <%= link_to("バンド一覧", "/bands/index") %>
      </li>
      <li>
        <%= link_to("バンド申請", "/bands/new") %>
      </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>